build/index.html
<!DOCTYPE html><html><head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><script src="/../javascript/Vendor/jquery-3.1.0.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><link href="/css/style.css" rel="stylesheet"></head><body><div class="wrap"><h1>Hello Guys<h4>Your Friendly Dev</h4></h1><div class="spinner spinner-1"></div></div></body><footer><script src="/../javascript/main.js"></script></footer></html>

src/templates/index.jade
doctype html
html
    head
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        script(src="/../javascript/Vendor/jquery-3.1.0.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
        link(href="/css/style.css", rel="stylesheet")
    body
      .wrap
        h1 Hello Guys
          h4 Your Friendly Dev
        
        .spinner.spinner-1

    footer
        script(src="/../javascript/main.js")
